.card {
  width: 14rem;
  margin: 5px 10px;

  .name {
    font-size: 1em;
  }

  .list-group-item {
    font-size: 10px;

    .card-link {
      font-size: 14px;
    }
  }

  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 575px) {
    width: 90%;
  }
}
