@import "~bootstrap/scss/bootstrap";

App {}

.navbar {
  margin-bottom: 1rem;
}

.container {
  margin-top: 40px;
  padding: 20px 0;
}

.users-list {
  @media screen and (max-width: 575px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
