@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card {
  margin: 5px;
  width: auto;

  .card-title {
    @include text-ellipsis();
  }

  .list-group-item {
    @include text-ellipsis();
  }
}
